html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html{
    font-size: 62.5%;
    webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
body{
    font-family: 'Lato', sans-serif;
    font-display: auto;
    color: #333;
    box-sizing: border-box;
}
.container{
    padding-top: 2rem;
    width: 90%;
    margin: 0 auto;
}
@media screen and (min-width: 630px){
    .container {
        width: 630px;
    }
}
.page{
    width: 90%;
    margin: 0 auto;
}
@media screen and (min-width: 900px){
    .page {
        width: 900px;
    }
}
header{
    box-shadow: 0 1rem 1.2rem rgba(0,0,0,.1);
}
.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1rem 2.5rem 0;
}

.header__logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-size: 2.5rem;
    color: #4f81c7;
    transition: all .5s ease-out;
}
.header__logo:hover{
    color: #274063;
}
.header__logo:hover .header__logo--icon{
    fill: #274063;
}
.header__logo--icon{
    height: 2.7rem;
    width: 2.7rem;
    fill: #4f81c7;
    display: inline-block;
}
.search {
    align-items: center;
    justify-content: center;
}

.search__field {
    background-color: #f4f2f2;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 10rem;
    width: 15rem;
    transition: all 0.3s;
    margin-right: -4.25rem;
    color:#4f81c7;
    font-weight: 700;
}
.search__field:focus {
    outline: none;
    width: 18rem;
    background-color: #f0eeee;
}
.search__field::-webkit-field-placeholder {
    color: #ccc;
    font-weight: 400;
}
.search__field:focus + .search__button {
    background-color: #f0eeee;
}
.search__btn {
    border: none;
    background-color: transparent;
    transform: translateY(0.4rem);
    
}
.search__btn:focus {
    outline: none;
}
.search__btn:active {
    transform: translateY(0.5rem);
}
.search__icon {
    height: 1.5rem;
    fill: #999;
}
.current__box{
    color: #4f81c7;
    margin: 0 auto;
    min-height: 20rem;
    background-color: #fcfafa;
    box-shadow: 0 0 1.5rem rgba(0,0,0,.2);
    border-radius: .8rem;
    overflow: hidden;
}
.current__header{
    border-bottom: .2rem solid rgba(100, 196, 235,.2);
    padding: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.current__header--text{
    font-size: 2.5rem;
}
.owf{
    color: #f0c68c;
}
.current__header--description{
    font-size: 1.5rem;
}
.current__body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 1.5rem;
}
.current__tempreature{
    font-size: 7rem;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    backface-visibility: hidden;
}
.current__details{
    font-size: 1.5rem;
}
.current__details ul{
    list-style-type: none;
}
.current__details ul > :not(:last-child){
    margin-bottom: .5rem;
}
.current__details--key{
    opacity: .8;
}
.current__details--heading{
    font-weight: 700;   
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: .1rem solid rgba(100, 196, 235,.3);
}
.current__footer{    
    border-top: .2rem solid rgba(100, 196, 235,.3);
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
}
.current__forecast{
    
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 4rem;
}
.forcast__heading{
    text-align: center;
    color: rgba(100, 196, 235,.7);;
    font-size: 2rem;
    color: #666;
}
.current__forecast ul li {
    list-style-type: none;
    margin-top: 2rem;
    box-shadow: 0 0 1.5rem rgba(0,0,0,.2);
    border-radius: .5rem;
    padding: 1.5rem;
}
.forcast__time{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgba(100, 196, 235,.9);;
}
.forecast__details{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color:#4f81c7;
}
.forecast__deatail--highslow{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.forecast__details--specifics{
    font-size: 1.7rem;
    margin-left: 1.5rem;
    font-weight: 700;
}
.forecast__temperatures{
    font-size: 1.3rem;
}
.forcast__temp{
    font-size: 3rem;
}
.forecast__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0;
    box-sizing: border-box;
    padding: 0 2rem;
}
.btn{
    background-color: #f0d78c;
    border-radius: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 .6rem .8rem rgba(0,0,0,.1);
}
.btn:active{
    transform: translateY(.5rem);
    box-shadow: 0 .4rem .6rem rgba(0,0,0,.05);
}
.btn__icon{
    height: 1rem;
    width: 1rem;
    margin: 0 .2rem;
}
.btn p{
    font-weight: 700;
    backface-visibility: hidden;
}
.next{
    margin-left: auto;
}
.location-shown{
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    color: #666;
    transition: all .5s ease-out;
    cursor: pointer;
}
.location-shown:hover{
    color: #000;
    text-decoration: underline;
}.location-shown:hover .location-icon{
    fill: #000;
}
.location-icon{
    width: 2rem;
    height: 2rem;
    fill: #666;
}
.error__handler{
    display: flex;
    flex-flow: column wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
.error__handler--img{
    height:20rem;
}
.error__handler--text{
    font-size: 1.5rem;
    padding: 2rem 0;
    color:#4f81c7;
}



/*
loader
*/
.loader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50%);
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 6.4rem;
    height: 6.4rem;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 2.7rem;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background: #f0d78c;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(1.9rem, 0);
    }
  }


/*text animation*/
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  