/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}





body{
  position: relative;
  font-family: "Lato", san serif;
  font-size: 1.2rem;
  font-weight: 400;
}

button{
  background-color:#fff;
  padding: 0.2rem 0.5rem;
  border: 0;
  border-radius: 2rem;
}

input{
  border:0;
  background-color: rgba(255,255,255,0.3);
  color: #fff;
  padding: 0.2rem;
  border-radius: 2rem;
  text-indent: 0.5rem;

}

.owf{
  position:absolute;
  z-index: 1;
  color:#777;
  top: 13.4rem;
  left:43%;
}


#locale{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:5rem;
  left:50%;
  transform: translate(-50%,50%);

}

.current{
  padding-left: 0.5rem;
}

#logo{
	padding: 1.5rem 0 0rem 1.5rem;
}
#logo img{
	max-width: 100%;
}
